@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin primary-font ($font-size, $line-height) {
  font-family: $primary-font-family;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin secondary-font ($font-size, $line-height) {
  font-family: $secondary-font-family;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}
