:root {
  --white: #ffffff;
  --black: #000000;
  --black-num1: #111111;
  --black-num2: #222222;
  --text-description: #444444;
  --bg-green: #68b738;
  --bg-gray: #f2f2f2;
  --dark-gray: #c4c4c4;
}
