:root {
  --white: #ffffff;
  --black: #000000;
  --gray-darken: #111111;
  --gray-dark: #222222;
  --gray-semi: #c4c4c4;
  --gray-light: #f2f2f2;
  --text-description: #444444;
  --bg-basic: #68b738;
}
// резервный цвет принят "tomato": #ff6347
