/* здесь используйте глобальные переменные */
// Viewports
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width-only: 767px;
$mobile-width: 320px;
$mobile-content: 280px;

// fonts
$primary-font-family: "Lato", "Arial", sans-serif;
$secondary-font-family: "Oswald", "Arial", sans-serif;
