// .addition-food {

// }

.addition-food__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--gray-dark, #ff6347);
  text-transform: uppercase;
}

// .addition-food__wrapper {

// }

// .addition-food__list {

// }

.addition-food__item {
  list-style: none;
}

// .addition-food__title {

// }

.addition-food__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-description, #ff6347);
}

.addition-food__price {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-description, #ff6347);
}

// .addition-food__button {

// }

.addition-food__gift {
  //
}

.addition-food__icon {
  background-image: url("../../icons/icon-gift.svg");
  background-color: var(--bg-basic, #ff6347);

  @media (min-width: $desktop-width) {
    width: 80px;
    height: 83px;
    background-size: 80px 83px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 83px;
    background-size: 80px 83px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
  }

  @media (min-width: $mobile-width-only) {
    width: 80px;
    height: 83px;
    background-size: 80px 83px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
  }
}
