// .basic-products {

// }

// .basic-products__wrapper {

// }

// .basic-products__list {

// }

.basic-products__button {
  @include secondary-font (16px, 20px); // $font-size, $line-height
  color: var(--white, #ff6347);
  background-color: var(--bg-basic, #ff6347);
  width: 244px;
  border: none;
  padding: 14px 26px;
  cursor: pointer;
}
