.basic-products__wrapper {
  width: $mobile-width;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 110px;
  }
}

.basic-products__list {
  margin: 0;
  padding: 0;
}
