.button {
  @include secondary-font (16px, 20px); // $font-size, $line-height
  color: var(--white, #ff6347);
  background-color: var(--bg-basic, #ff6347);
  width: $mobile-content;
  cursor: pointer;
  border: none;
  padding: 14px 26px;

  @media (min-width: $tablet-width) {
    @include secondary-font (20px, 26px); // $font-size, $line-height
    width: 244px;
  }
}
