.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--white, #ff6347);
  background-color: var(--bg-basic, #ff6347);
  border: none;
}
