// .cards {

// }

.cards__item {
  list-style: none;
}

// .cards__link {

// }

// .cards__link-image {

// }

// .cards__text {

// }

.cards__link-text {
  text-decoration: none;
}

.cards__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--gray-dark, #ff6347);
  text-transform: uppercase;
}

.cards__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-description, #ff6347);
}

.cards__item-description {
  //
}
// .cards__option {

// }

// .cards__value {

// }

// .cards__button {

// }

.cards__button-show-all {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-description, #ff6347);
  background-color: var(--gray-light, #ff6347);
  width: 250px;
  border: none;
  padding: 10px 80px;
  cursor: pointer;
}
