// .cards {

// }

.cards__item {
  list-style: none;
}

// .cards__link {

// }

// .cards__link-image {

// }

// .cards__text {

// }

.cards__link-text {
  text-decoration: none;
}

.cards__title {
  @include secondary-font (20px, 24px); // $font-size, $line-height
  color: var(--gray-dark, #ff6347);
  text-transform: uppercase;
}

.cards__description {
  @include primary-font (16px, 20px); // $font-size, $line-height
  color: var(--text-description, #ff6347);
}

.cards__item-description {
  //
}
// .cards__option {

// }

// .cards__value {

// }

// .cards__button {

// }

.cards__button-show-all {
  @include secondary-font (16px, 20px); // $font-size, $line-height
  color: var(--text-description, #ff6347);
  background-color: var(--gray-light, #ff6347);
  width: 250px;
  border: none;
  padding: 10px 80px;
  cursor: pointer;
}
