.contacts {
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 26px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 110px 565px 765px;
    grid-template-rows: 95px 199px 106px;
  }
}

.contacts__wrapper {
  margin: 0 20px;
  padding: 0;
  display: grid;
  grid-template-columns: 140px 140px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    z-index: 2;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--white, #ff6347);
  }
}

.contacts__title {
  @include secondary-font (16px, 20px); // $font-size, $line-height
  color: var(--gray-darken, #ff6347);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    @include secondary-font (20px, 26px); // $font-size, $line-height
    width: 165px;
  }

  @media (min-width: $desktop-width) {
    @include secondary-font (20px, 26px); // $font-size, $line-height
  }
}

.contacts__address {
  @include primary-font (14px, 20px); // $font-size, $line-height
  font-style: normal;
  color: var(--text-description, #ff6347);

  @media (min-width: $tablet-width) {
    @include primary-font (16px, 20px); // $font-size, $line-height
    width: 165px;
    text-align: right;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    @include primary-font (16px, 20px); // $font-size, $line-height
  }
}

// .contacts__map {
//   display: none;
//   margin: 0;
//   padding: 0;

//   @media (min-width: $desktop-width) {
//     z-index: 1;
//     grid-column: 1 / -1;
//     grid-row: 1 / -1;
//   }
// }

.contacts iframe {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  width: 320px;
  height: 362px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 1440px;
    height: 400px;
  }
}

.contacts__image {
  margin: 0;
  padding: 0;
  display: block;


  @media (min-width: $tablet-width) {

    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.contacts__map-interactive {
  display: none;
  border: none;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 400px;
  }
