// .example {

// }

// .example__wrapper {

// }

// .example__title {

// }

.example__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-description);
}

// .example__list {

// }

// .example__item {

// }

.example__number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: var(--black-num1);
}

.example__option {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--text-description);
}

.example__total {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--black-num1);
}

.example__cost {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--black-num1);
}

// .example__image-slim-wrapper {


// }

// .example__slim {

// }

// .example__image-fat-wrapper {

// }

// .example__fat {

// }
