.example {
  width: $mobile-width;
  background-color: var(--bg-secondary, #ff6347);
  padding: 25px 20px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    grid-template-columns: 30px 1fr 30px;
    background-image: linear-gradient(to bottom, #ffffff 55%, #eaeaea 55%);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 110px 1fr 110px;
    background-image: linear-gradient(to bottom, #ffffff 40%, #eaeaea 40%);
  }
}

.example__wrapper {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.example__title {
  @include secondary-font (36px, 40px); // $font-size, $line-height
  margin: 0;
  margin-bottom: 40px;
  color: var(--gray-darken, #ff6347);

  @media (min-width: $tablet-width) {
    @include secondary-font (60px, 1); // $font-size, $line-height
    margin-bottom: 60px;
  }
}

.example__description {
  @include primary-font (16px, 24px); // $font-size, $line-height
  color: var(--text-description, #ff6347);
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 60px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 70px 14px;
    // grid-column: 43px;
  }
}

.example__item {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 162px 43px;
    grid-template-rows: 58px 14px 14px;
  }
}

.example__number {
  @include secondary-font (24px, 1); // $font-size, $line-height
  color: var(--gray-darken, #ff6347);
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include secondary-font (30px, 37px); // $font-size, $line-height
    border: 1px solid var(--example-border, #ff6347);
    border-radius: 5px;
    // grid-row-start: 1;
    // grid-column-start: 1;
    // grid-row-end: 3;
    // grid-column-end: 2;
    grid-area: 1 / 1 / 3 / 2;
  }

  @media (min-width: $desktop-width) {
    @include secondary-font (30px, 37px); // $font-size, $line-height
  }
}

.example__option {
  @include primary-font (12px, 1); // $font-size, $line-height
  color: var(--text-description, #ff6347);
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include primary-font (14px, 1); // $font-size, $line-height
    grid-area: 2 / 1 / 4 / 2;
    padding-top: 6px;
    // background-color: var(--white, #ff6347)
  }

  @media (min-width: $desktop-width) {
    @include primary-font (14px, 1); // $font-size, $line-height
  }
}

.example__total {
  @include secondary-font (14px, 20px); // $font-size, $line-height
  color: var(--gray-darken, #ff6347);
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include secondary-font (20px, 1); // $font-size, $line-height
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    @include secondary-font (20px, 1); // $font-size, $line-height
  }
}

.example__cost {
  @include secondary-font (14px, 20px); // $font-size, $line-height
  color: var(--gray-darken, #ff6347);
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include secondary-font (20px, 1); // $font-size, $line-height
  }

  @media (min-width: $desktop-width) {
    @include secondary-font (20px, 1); // $font-size, $line-height
  }
}

.example__image-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.example__slim {
  width: 140px;
  height: 256px;
  object-position: right;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.example__fat {
  width: 140px;
  height: 256px;
  object-position: 0;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
  }
}
