// .features {

// }

// .features__wrapper {

// }

// .features__title {

// }

.features__list {
  display: flex;
  column-gap: 94px;
}

.features__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 230px;
  row-gap: 31px;
}

.features__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-description, #ff6347);
}

// .features__number {
//   font-family: "Oswald", sans-serif;
//   font-weight: 400;
//   font-size: 280px;
//   line-height: 280px;
//   color: var(--bg-gray);
// }

.features__item--leaf {
  position: absolute;
  background-color: var(--bg-basic, #ff6347);
  width: 80px;
  height: 80px;

  &::before {
    content: "";
    position: relative;
    display: block;
    top: 40px;
    right: 40px;
    width: 25px;
    height: 28px;
    background-image: url("../../icons/icon-leaf.svg");
    // background-size: 25px 28px;
    background-repeat: no-repeat;
    // transform: translateY(-50%);
  }
}


.features__item--powder {
  background-image: url("../../icons/icon-powder.svg");
  background-color: var(--bg-basic, #ff6347);
}

.features__item--eat {
  background-image: url("../../icons/icon-eat.svg");
  background-color: var(--bg-basic, #ff6347);
}

.features__item--clock {
  background-image: url("../../icons/icon-clock.svg");
  background-color: var(--bg-basic, #ff6347);
}
