// .features {

// }

.features__wrapper {
  //
}

// .features__title {

// }

.features__list {
  display: flex;
  column-gap: 94px;
  margin-bottom: 50px;
  counter-reset: list;  /* Инициируем счетчик */
}

.features__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 230px;
  z-index: 2;

  &::before {
    position: absolute;
    counter-increment: list; /* Увеличиваем значение счетчика */
    content: counter(list) " "; /* Выводим число */
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: var(--gray-light, #ff6347);
    transform: translate(58%, -13%);
  }
}

.features__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-description, #ff6347);
  z-index: 1;
}

.features__leaf {
  position: relative;
  background-color: var(--bg-basic, #ff6347);
  width: 80px;
  height: 80px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 50%;
    width: 25px;
    height: 28px;
    background-image: url("../../icons/icon-leaf.svg");
    transform: translate(50%, -50%);
  }
}


.features__powder {
  position: relative;
  background-color: var(--bg-basic, #ff6347);
  width: 80px;
  height: 80px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 50%;
    width: 25px;
    height: 28px;
    background-image: url("../../icons/icon-powder.svg");
    transform: translate(50%, -50%);
  }
}

.features__eat {
  position: relative;
  background-color: var(--bg-basic, #ff6347);
  width: 80px;
  height: 80px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 50%;
    width: 25px;
    height: 28px;
    background-image: url("../../icons/icon-eat.svg");
    transform: translate(50%, -50%);
  }
}

.features__clock {
  position: relative;
  background-color: var(--bg-basic, #ff6347);
  width: 80px;
  height: 80px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 50%;
    width: 25px;
    height: 28px;
    background-image: url("../../icons/icon-clock.svg");
    transform: translate(50%, -50%);
  }
}
