.main-footer {
  // width: $mobile-width;
  // margin: 0 auto;
  background-color: var(--gray-light, #ff6347);

  // @media (min-width: $tablet-width) {
  // width: $tablet-width;
  // }

  // @media (min-width: $desktop-width) {
  // width: $desktop-width;
  // }
}

.main-footer__wrapper {
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto auto auto;
  row-gap: 20px;
  // margin: 0 20px;
  justify-content: center;
  padding-top: 40px;
  align-items: center;
  padding-bottom: 40px;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-footer__social {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--program-border, #ff6347);
  border-bottom: 1px solid var(--program-border, #ff6347);

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
  }
}

.main-footer__link {
  grid-row: 1 / 2;
  justify-content: center;
  margin: 0 auto;
  display: block;
  mask-image: url("../../icons/logo-text.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: 128px;
  height: 24px;
  background-color: var(--gray-darken, #ff6347);

  &:hover {
    background-color: var(--footer-logo-focus, #ff6347);
  }

  &:active {
    opacity: 0.3;
    background-color: var(--footer-logo-focus, #ff6347);
  }


  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }
}

.main-footer__developer-link {
  grid-row: 3 / 4;
  display: block;
  justify-content: center;
  margin: 0 auto;
  // flex-direction: row;
  align-items: center;
  mask-image: url("../../icons/icon-html-academy-text.svg");
  mask-repeat: no-repeat;
  // mask-position: center;
  // mask-size: contain;
  width: 113px;
  height: 19px;
  background-color: var(--text-description, #ff6347);
  padding-bottom: 20px;

  &::before {
    content: "";
    display: block;
    mask-image: url("../../icons/icon-html-academy.svg");
    mask-repeat: no-repeat;
    // mask-position: center;
    // mask-size: contain;
    width: 27px;
    height: 34px;
    background-color: var(--social-icon, #ff6347);
  }

  &:hover::before {
    background-color: var(--bg-basic, #ff6347);
  }

  &:active::before {
    opacity: 0.3;
    background-color: var(--bg-basic, #ff6347);
  }

  &:active {
    opacity: 0.3;
  }
}
