.main-footer {
  background-color: var(--gray-light, #ff6347);
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto auto auto;
  row-gap: 20px;
  justify-content: center;
  padding-top: 40px;
  align-items: center;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 0 45px 2px;
    padding-left: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 59px 0 55px;
  }
}

.main-footer__social {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 10px 0 6px;
  border-top: 1px solid var(--program-border, #ff6347);
  border-bottom: 1px solid var(--program-border, #ff6347);

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
    margin-left: 32px;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 26px;
    padding-top: 6px;
  }
}

.main-footer__link {
  grid-row: 1 / 2;
  justify-content: center;
  margin: 0 auto;
  display: block;
  mask-image: url("../../icons/logo-text.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: 128px;
  height: 24px;
  background-color: var(--gray-darken, #ff6347);

  &:hover {
    background-color: var(--footer-logo-focus, #ff6347);
  }

  &:active {
    opacity: 0.3;
    background-color: var(--footer-logo-focus, #ff6347);
  }

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    margin: 0;
  }
}

.main-footer__developer-link {
  @include primary-font (16px, 20px); // $font-size, $line-height
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .main-footer__developer-logo {
    color: #666666;
  }

  &:hover .main-footer__developer-logo {
    color: #68b738;
  }

  &:active .main-footer__developer-logo {
    color: #68b738;
    opacity: 0.3;
  }

  &:active .main-footer__developer-text {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}
