.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

// .main-nav__toggle {

// }

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

// .main-nav__list--close {


// }

.main-nav__item {
  list-style: none;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--white, #ff6347);
  background-color: var(--bg-basic, #ff6347);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

// .main-nav__link--current {


// }
