.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 13px 0 11px 20px;

  @media (min-width: $tablet-width) {
    // width: $tablet-width;
    height: 100px;
    flex-flow: row wrap;
    padding: 27px 3px 24px 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 0 25px;
    height: 169px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    height: 144px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 56px;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 50px;
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-text {
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 537px;
  }
}
