.main-header {
  position: relative;
<<<<<<< module10-task1
  // display: grid;
  // grid-template-columns: 1fr 250px 29px 1fr;
  // align-items: center;
=======
  display: grid;
  grid-template-columns: 1fr 250px 29px 1fr;
  align-items: center;
>>>>>>> master

  @media (min-width: $tablet-width) {
    min-height: 100px;
    flex-flow: row wrap;
    padding: 27px 3px 24px 0;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 0 25px;
    min-height: 145px;
    justify-content: space-between;
    grid-template-columns: min-content 595px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 56px;
<<<<<<< module10-task1
  margin: 0 auto;
  margin-right: calc(50vw - 108px);
  width: 240px;
  padding: 15px 0 12px;
  // grid-column: 2 / 3;
=======
  padding: 15px 0 12px;
  grid-column: 2 / 3;
>>>>>>> master

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50px;
    gap: 13px;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-image {
  display: block;
}
