.programs {
  background-color: var(--white, #ff6347);
  margin: 0 20px;
}

.programs__wrapper {
  display: flex;
  width: $mobile-content;
  // row-gap: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: $desktop-width;
    justify-content: center;
  }
}

.programs__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    column-gap: 80px;
  }
}

.programs__item {
  position: relative;
  padding: 0 20px;
  width: 280px;
  background-color: var(--gray-light, #ff6347);

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 77px 316px 0 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 70px 61px 55px 52px;
  }
}

.programs__title {
  @include secondary-font (24px, 37px); // $font-size, $line-height
  display: flex;
  position: relative;
  text-transform: uppercase;
  color: var(--gray-darken, #ff6347);
  margin: 0;
  padding-top: 30px;
  padding-left: 70px;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    @include secondary-font (36px, 1); // $font-size, $line-height
    padding: 0;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
  }
}

.programs__slim::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/cat-slim.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 50px;
  top: 20px;
  left: 7px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: -40px;
    left: 435px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: -45px;
  }
}

.programs__slim::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--bg-basic, #ff6347);
  border-radius: 50%;
  top: 20px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: -40px;
    left: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: -48;
  }
}

.programs__pro::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/cat-pro.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 26px;
  top: 35px;
  left: -8px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 107px;
    top: 10px;
    left: 350px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 54px;
    top: -25px;
  }
}

.programs__pro::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--bg-basic, #ff6347);
  border-radius: 50%;
  top: 22px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: -40px;
    left: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: -48;
  }
}

.programs__description {
  @include primary-font (14px, 18px); // $font-size, $line-height
  color: var(--text-description, #ff6347);
  margin: 0;
  padding-right: 33px;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--program-border, #ff6347);

  @media (min-width: $tablet-width) {
    @include primary-font (16px, 1); // $font-size, $line-height
    border: none;
  }

  // @media (min-width: $desktop-width) {

  // }
}

.programs__link {
  @include secondary-font (20px, 30px); // $font-size, $line-height
  color: var(--gray-darken, #ff6347);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 57px;
  }

  &::after {
    content: "";
    mask-image: url("../../icons/icon-arrow-right.svg");
    width: 24px;
    height: 12px;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--black, #ff6347);
  }

  &:hover {
    &::after {
      mask-image: url("../../icons/icon-arrow-right-longer.svg");
      width: 32px;
      height: 12px;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      mask-image: url("../../icons/icon-arrow-right-longer.svg");
      width: 32px;
      height: 12px;
    }
  }
}
