// .promo {

// }

// .promo__wrapper {

// }

.promo__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: var(--black-num1);
}

.promo__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--black-num1);
}

// .promo__image-wrapper {


// }

.promo__link {
  text-decoration: none;
}
