.promo {
  display: grid;
  grid-template-columns: 1fr 280px 1fr;
  text-align: center;
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 60%, rgba(255, 255, 255, 1) 60%),
    image-set(
      url("../../images/hero-cat-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/hero-cat-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/hero-cat-mobile@2x.jpg") type("image/jpg") 2x,
      url("../../images/hero-cat-mobile@1x.jpg") type("image/ipg") 1x
    ),
    linear-gradient(90deg, #4f4e54 50%, #424147 50%);
  background-repeat: no-repeat;
  background-color: #3b7d1d;
  background-position: 50% 0;

  @media (min-width: $tablet-width) {
    // width: $tablet-width;
    display: block;
    background-image: none;
    background-color: var(--white, #ff6347);
  }
}

.promo__wrapper {
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 90px auto;
    // width: 610px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 80px 414px 179px 432px;
    grid-template-rows: 187px 49px 94px 215px;
    padding: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 0;
      background-color: #3b7d1d;
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85) 50% 50%),
        image-set(
          url("../../images/hero-cat-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/hero-cat-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/hero-cat-desktop@2x.jpg") type("image/jpg") 2x,
          url("../../images/hero-cat-desktop@1x.jpg") type("image/jpg") 1x
        );
      background-position: 100% 0;
      background-repeat: no-repeat;
      background-size: 100% 694px;
      // width: 720px;
      height: 694px;
      inset: -169px 0 0 610px; //top,right,bottom,left.
    }
  }
}

.promo__title {
  @include secondary-font (36px, 1); // $font-size, $line-height
  color: var(--white, #ff6347);
  text-align: center;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include secondary-font (60px, 1); // $font-size, $line-height
    grid-column: 2 / -1;
    text-align: left;
    color: var(--black, #ff6347);
    background-color: var(--white, #ff6347);
    padding-bottom: 40px;
  }
}

.promo__slogan {
  @include secondary-font (14px, 1); // $font-size, $line-height
  text-align: center;
  text-transform: uppercase;
  color: var(--white, #ff6347);
  margin: 0;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    @include secondary-font (20px, 1); // $font-size, $line-height
    grid-column: 2 / -1;
    color: var(--gray-darken, #ff6347);
    text-align: left;
  }
}

.promo__image-wrapper {
  @media (min-width: $desktop-width) {
    z-index: 5;
    grid-column: 2 / 5;
    width: 552px;
    // margin: 0;
    position: relative;
    bottom: 330px;
    left: 367px;
  }
}

.promo__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 40px;
    grid-column: 2 / -1;
    height: 54px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 40px;
    grid-column: 2 / -1;
    grid-row: 3 / 4;
  }
}
