.social__item {
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social__link {
  display: block;
  padding: 13px 16px 13px 12px;

  &::before {
    content: "";
    display: block;
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    width: var(--width);
    height: var(--height);
    background-color: var(--social-icon, #ff6347);
  }

  &:hover::before,
  &:focus::before {
    background-color: var(--bg-basic, #ff6347);
  }

  &:active::before {
    opacity: 0.3;
    background-color: var(--bg-basic, #ff6347);
  }

  @media (min-width: $tablet-width) {
    padding: 14px 14px 10px;
  }
}

.social__link--vkontakte {
  --icon: url("../../icons/stack.svg#icon-vk");
  --width: 27px;
  --height: 17px;
}

.social__link--youtube {
  --icon: url("../../icons/icon-youtube.svg");
  --width: 24px;
  --height: 19px;
}

.social__link--telegram {
  --icon: url("../../icons/icon-telegram.svg");
  --width: 20px;
  --height: 17px;
}
