// .subscribe {

// }

// .subscribe__title {

// }

// .subscribe__form {

// }

// .subscribe__form-text {

// }

// .subscribe__form-text {

// }

// .subscribe__form-block {

// }

.subscribe__form-field {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-description);
  text-transform: uppercase;
}

.subscribe__form-button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--white);
  background-color: var(--bg-green);
  border: none;
}
