// .subscribe {

// }

.subscribe__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--black, #ff6347);
}

// .subscribe__form {

// }

// .subscribe__form-text {

// }

// .subscribe__form-text {

// }

// .subscribe__form-block {

// }

.subscribe__form-field {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-description, #ff6347);
  text-transform: uppercase;
}

.subscribe__form-button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--white, #ff6347);
  background-color: var(--bg-basic, #ff6347);
  border: none;
  padding: 15px 70px;
  cursor: pointer;
}
